$max-width-sm: "(max-width: 575px)";
$max-width-md: "(max-width: 767px)";
$max-width-lg: "(max-width: 991px)";
$max-width-xl: "(max-width: 1199px)";
$max-width-xxl: "(max-width: 1499px)";

$min-width-sm: "(min-width: 576px)";
$min-width-md: "(min-width: 768px)";
$min-width-lg: "(min-width: 992px)";
$min-width-xl: "(min-width: 1200px)";
$min-width-xxl: "(min-width: 1500px)";
