*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary-color: #ffffff;
$secondary-color: #858585;
$nav-dots-size: 10px;
$nav-button-size: 10px;
$nav-button-offset: 15px;

.slider {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: #222;
    user-select: none;

    button {
        border: none;
        cursor: pointer;

        &:focus {
            outline: none;
        }
    }
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: $secondary-color;
    animation: navigate ease forwards 600ms;

    display: none;
    align-items: center;

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 50vw;
        background-image: linear-gradient(90deg, rgba(#000, 0.75), transparent);
    }

    &.visible {
        display: flex;
    }

    .slide-text {
        max-width: 650px;
        padding: 50px clamp(50px, 10vw, 100px);
    }

    h2,
    p {
        position: relative;
        color: #fff;
        z-index: 1;
    }

    h2 {
        font-size: clamp(32px, 5vw, 50px);
        margin-bottom: 10px;
    }

    p {
        font-size: clamp(16px, 5vw, 18px);
        line-height: 1.5;
    }
}

.slider-dots,
.slider-prev-btn,
.slider-next-btn {
    z-index: 1;
}

.slider-dots {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);

    button {
        position: relative;
        width: $nav-dots-size;
        height: $nav-dots-size;
        border-radius: 50%;
        background-color: #fff;
        transition: background-color ease 250ms;

        + button {
            margin-left: 15px;
        }

        &:hover,
        &:focus,
        &.active {
            background-color: $secondary-color;
        }

        &.active {
            top: -$nav-dots-size * 0.5;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $primary-color;
                animation: ripple ease infinite 1s;
                z-index: -1;
            }
        }
    }
}

.slider-prev-btn,
.slider-next-btn {
    position: absolute;
    width: $nav-button-size;
    height: $nav-button-size;
    top: 50%;
    padding: 10px;
    margin-top: -$nav-button-size * 0.5;
    background-color: transparent;
    transition: transform ease 250ms;
}

.slider-prev-btn {
    left: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M16.67 0l2.83 2.829-9.339 9.175 9.339 9.167-2.83 2.829-12.17-11.996z'/%3E%3C/svg%3E");

    &:hover {
        transform: translateX(-$nav-button-offset * 0.25);
    }
}

.slider-next-btn {
    right: 15px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ffffff' d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z'/%3E%3C/svg%3E");

    &:hover {
        transform: translateX($nav-button-offset * 0.25);
    }
}

@keyframes navigate {
    from {
        opacity: 0;
        transform: translateX(calc(100vw * var(--animation-direction)));
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes ripple {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(3);
    }
}
